<%= fields_for 'schedule[]', schedule do |fi| %>
  <tr>
    <td>
      <%= schedule.date %>
    </td>
    <td>
      <%= ja_week(schedule.date) %>
    </td>
    <td>
      <%= fi.select :state, Schedule.states.keys.map {|k| [k, k]}, {}, { class: 'form-control' } %>
    </td>
    <td>
      <%= fi.text_field :performer_ids, class: 'performer_selector' %>
    </td>
    <td>
      <%= fi.text_field :title, class: 'form-control' %>
    </td>
    <td>
      <%= fi.text_field :detail, class: 'form-control' %>
    </td>
  </tr>
<% end %>
