<%= fields_for 'schedule[]', schedule do |fi| %>
  <tr>
    <td>
      <%= schedule.date %>
    </td>
    <td>
      <%= ja_week(schedule.date) %>
    </td>
    <td>
      <%= fi.select :state, Schedule.states.keys.map {|k| [k, k]}, {}, { class: 'form-control' } %>
    </td>
    <td>
      <%= fi.collection_select :performer_ids, Performer.all, :id, :name, {}, { class: 'select-performer-ids', multiple: true } %>
    </td>
    <td>
      <%= fi.text_field :title, class: 'form-control' %>
    </td>
    <td>
      <%= fi.text_field :detail, class: 'form-control' %>
    </td>
  </tr>
<% end %>
