<%= form_tag monthly_schedule_path(@date), method: :put do %>
  <table class="table table-condensed table-borderless table-sm">
    <thead>
      <tr>
        <td>日付</td>
        <td>曜日</td>
        <td>状態</td>
        <td>演奏者</td>
        <td>タイトル</td>
        <td>詳細</td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'form_unit', collection: @schedules, as: :schedule %>
    </tbody>
  </table>
  <div class="form-group text-center">
    <%= submit_tag '更新する', class: 'btn btn-primary' %>
  </div>
<% end %>

<div id='js-performer_list' data-json='<%= Performer.all.to_json(only: [:id, :name]) %>'></div>
<div id='js-schedules' data-json="<%= @schedules.to_json(only: [:id, :date], include: {performers: {only: [:id, :name]}}) %>"></div>
<%= javascript_include_tag 'bootstrap-tagsinput' %>
<%= javascript_include_tag 'typeahead.bundle' %>
<%= javascript_include_tag 'performer_selector' %>
<%= stylesheet_link_tag 'bootstrap-tagsinput' %>
