<div class="row">
  <div class="col">
    <span><%= link_to '＜' + @date.prev_month.strftime('%Y年%m月'), monthly_schedule_path(@date.prev_month) %></span>
  </div>
  <div class="col text-center">
    <h1><%= @date.strftime('%Y年%m月') %></h1>
  </div>
  <div class="col text-right">
    <span><%= link_to @date.next_month.strftime('%Y年%m月') + '＞', monthly_schedule_path(@date.next_month) %></span>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm">
      <thead>
      <tr>
        <td>#</td>
        <td>曜日</td>
        <td>状態</td>
        <td>演奏者</td>
        <td>タイトル</td>
        <td>詳細</td>
      </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.date %></td>
            <td><%= ja_week(schedule.date) %></td>
            <td><%= schedule.state %></td>
            <td><%= schedule.performers.map{|p| p.name}.join(',') %>
            <td><%= schedule.title %></td>
            <td><%= schedule.detail %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '更新する', edit_monthly_schedule_path(@date) %>
  </div>
</div>
