<div class="row">
  <div class="col">
    <h1><%= @date %>のスケジュール</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm">
      <thead>
      <tr>
        <td>#</td>
        <td>曜日</td>
        <td>状態</td>
        <td>タイトル</td>
        <td>詳細</td>
      </tr>
      </thead>
      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.date %></td>
            <td><%= ja_week(schedule.date) %></td>
            <td><%= schedule.state %></td>
            <td><%= schedule.title %></td>
            <td><%= schedule.detail %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '編集する', edit_monthly_schedule_path(@date) %>
  </div>
</div>
