<p>毎日10時に、Facebookに自動で投稿されます。</p>
<p>以下のプレースホルダーが利用できます。</p>

<table class="table table-sm table-bordered small">
  <tbody>
    <tr>
      <td><kbd>%day+n%</kbd>(nは任意の0以上の整数)</td>
      <td>n日後の日付を表示</td>
    </tr>
    <tr>
      <td><kbd>%performers+n%</kbd>(nは任意の0以上の整数)</td>
      <td>n日後の演奏者を楽器とともに表示</td>
    </tr>
    <tr>
      <td><kbd>%title+n%</kbd>(nは任意の0以上の整数)</td>
      <td>n日後のタイトルを表示</td>
    </tr>
  </tbody>
</table>

<%= form_tag setting_weekly_posts_path, method: :put do %>
  <% @weekly_posts.each do |post| %>
    <%= fields_for 'weekly_posts[]', post do |f| %>
      <div class="form-group">
        <%= f.label :template_article, "#{post.week}" %>
        <%= f.text_area :template_article, autofocus: true, class: 'form-control' %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group text-center">
    <%= submit_tag '更新する', class: 'btn btn-primary' %>
  </div>
<% end %>
